# dependencies
/node_modules
/.pnpm-store/

# next.js
/.next/
/out/

# testing
/playwright-report/
/test-results/

# local environment files
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
pnpm-debug.log*
